# Exercises Part I

# Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

# Use pandas to create a Series named fruits from the following list:


#    ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
# Use Series attributes and methods to explore your fruits Series.

In [6]:
import pandas as pd
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
fruits = pd.Series(fruits)
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

# 1. Determine the number of elements in fruits.

In [7]:
fruits.size

17

# 2. Output only the index from fruits.

In [11]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

# 3. Output only the values from fruits.

In [12]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

# 4. Confirm the data type of the values in fruits.

In [23]:
fruits.dtype

dtype('O')

# 5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [20]:
fruits.head(n=5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [21]:
fruits.head(n=3)

0          kiwi
1         mango
2    strawberry
dtype: object

In [24]:
fruits.sample(2)

8    honeydew
9        kiwi
dtype: object

# 6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [22]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

# 7. Run the code necessary to produce only the unique string values from fruits.

In [25]:
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

# 8. Determine how many times each unique string value occurs in fruits.

In [26]:
fruits.value_counts()

kiwi                4
mango               2
honeydew            1
pineapple           1
gooseberry          1
blueberry           1
gala apple          1
blackberry          1
tomato              1
papaya              1
strawberry          1
honeycrisp apple    1
watermelon          1
dtype: int64

# 9. Determine the string value that occurs most frequently in fruits.

In [28]:
fruits.value_counts().nlargest(n=1, keep = 'all')

kiwi    4
dtype: int64

# 10. Determine the string value that occurs least frequently in fruits.

In [27]:
fruits.value_counts().nsmallest(n=1, keep = 'all')

honeydew            1
pineapple           1
gooseberry          1
blueberry           1
gala apple          1
blackberry          1
tomato              1
papaya              1
strawberry          1
honeycrisp apple    1
watermelon          1
dtype: int64

# Exercises Part II

# Explore more attributes and methods while you continue to work with the fruits Series.

# 1. Capitalize all the string values in fruits.

In [36]:
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

# 2. Count the letter "a" in all the string values (use string vectorization).

In [39]:
fruits.apply(lambda row: row.count('a'))

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [45]:
fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

# 3. Output the number of vowels in each and every string value.

In [71]:
def count_vowels(string):
    num_vowels=0
    for char in string:
        if char in "aeiouAEIOU":
           num_vowels = num_vowels+1
    return num_vowels

fruits.apply(count_vowels)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

# 4. Write the code to get the longest string value from fruits.

In [108]:
fruits[fruits.str.len().idxmax()]

'honeycrisp apple'

In [82]:
def string_long(string):
    result = len(string)
    for item in string:
        if result == max(string):
            return result

def string_len(string):
    result = len(string)
    return result

b = fruits.apply(string_len)
max(b)

16

# 5. Write the code to get the string values with 5 or more letters in the name.

In [76]:
def string_length(string):
    result = len(string)
    for item in string:
        if result >= 5:
            return result
fruits.apply(string_length)

0      NaN
1      5.0
2     10.0
3      9.0
4     10.0
5     16.0
6      6.0
7     10.0
8      8.0
9      NaN
10     NaN
11     NaN
12     5.0
13     9.0
14    10.0
15    10.0
16     6.0
dtype: float64

In [98]:
fruits[fruits.str.len() > 5]

2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

# 6. Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

In [85]:
fruits[fruits.apply(lambda row: row.count('o')>=2)]

6         tomato
15    gooseberry
dtype: object

# 7. Write the code to get only the string values containing the substring "berry".

In [100]:
fruits[fruits.str.contains('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

# 8. Write the code to get only the string values containing the substring "apple".

In [101]:
fruits[fruits.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

# 9. Which string value contains the most vowels?

In [105]:
fruits[fruits.apply(count_vowels).idxmax()]

'honeycrisp apple'

In [ ]:
Exercises Part III


Use pandas to create a Series named numbers from the following list:

    ['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']
What is the data type of the numbers Series?

How many elements are in the number Series?

Perform the necessary manipulations by accessing Series attributes and methods to convert the numbers Series to a numeric data type.

Run the code to discover the maximum value from the Series.

Run the code to discover the minimum value from the Series.

What is the range of the values in the Series?

Bin the data into 4 equally sized intervals or bins and output how many values fall into each bin.

Plot the binned data in a meaningful way. Be sure to include a title and axis labels.

Use pandas to create a Series named exam_scores from the following list:


    [60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78]
How many elements are in the exam_scores Series?

Run the code to discover the minimum, the maximum, the mean, and the median scores for the exam_scores Series.

Plot the Series in a meaningful way and make sure your chart has a title and axis labels.

Write the code necessary to implement a curve for your exam_grades Series and save this as curved_grades. Add the necessary points to the highest grade to make it 100, and add the same number of points to every other score in the Series as well.

Use a method to convert each of the numeric values in the curved_grades Series into a categorical value of letter grades. For example, 86 should be a 'B' and 95 should be an 'A'. Save this as a Series named letter_grades.

Plot your new categorical letter_grades Series in a meaninful way and include a title and axis labels.

More Practice

Revisit the exercises from https://gist.github.com/ryanorsinger/f7d7c1dd6a328730c04f3dc5c5c69f3a.

After you complete each set of Series exercises, use any extra time you have to pursue the challenge below. You can work on these in the same notebook or file as the Series exercises or create a new practice notebook you can work in a little every day to keep your python and pandas skills sharp by trying to solve problems in multiple ways. These are not a part of the Series exercises grade, so don't worry if it takes you days or weeks to meet the challenge.

Challenge yourself to be able to...

solve each using vanilla python.

solve each using list comprehensions.

solve each by using a pandas Series for the data structure instead of lists and using vectorized operations instead of loops and list comprehensions.

# Use pandas to create a Series named letters from the following string:


    'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'

# 1. Which letter occurs the most frequently in the letters Series?

In [ ]:
pd.cut(x, bins, labels=[])

# 2. Which letter occurs the Least frequently?

# 3. How many vowels are in the Series?

# 4. How many consonants are in the Series?

# 5. Create a Series that has all of the same letters but uppercased.

# 6 Create a bar plot of the frequencies of the 6 most commonly occuring letters.